altgraph==0.17
antiorm==1.2.1
appdirs==1.4.3
asgiref==3.2.10
astroid==2.4.1
atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.8.2
black==19.10b0
bs4==0.0.1
calc==1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
colorlog==4.1.0
ConfigArgParse==1.2.3
cryptography==2.9.2
db==0.1.1
distlib==0.3.0
Django==3.0.7
djangorestframework==3.11.0
ExamplePackage==0.1.3
filelock==3.0.12
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
future==0.18.2
gevent==1.5a3
geventhttpclient-wheels==1.3.1.dev2
greenlet==0.4.15
html-parser==0.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
locust==0.0
locustio==0.14.5
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
msgpack==1.0.0
mysql==0.0.2
mysqlclient==1.4.6
numpy==1.19.1
packaging==20.3
pathspec==0.8.0
pefile==2019.4.18
Pillow==7.0.0
pluggy==0.13.1
ply==3.11
psutil==5.7.0
py==1.8.1
pycparser==2.20
PyInstaller==3.6
pylint==2.5.2
pymongo==3.10.1
PyMySQL==0.9.3
PyMysqlDB==0.0.2
pyparsing==2.4.7
pytest==5.4.1
pytz==2020.1
pywin32-ctypes==0.2.0
pyzmq==19.0.0
qrcode==6.1
regex==2020.5.7
requests==2.22.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.11
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.8
urlopen==1.0.0
virtualenv==20.0.24
wcwidth==0.1.9
Werkzeug==0.16.0
wrapt==1.11.2
